<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>shredstick</title>
</head>

<body>
    <h1>shredstick</h1>
    <a href="/login">Login</a>
    <section class="forms">
        <form action="/surfboards" method="POST" class="surfboards">
            <input type="text" placeholder="model/name" name="model">
            <input type="text" placeholder="brand" name="brand">
            <input type="text" placeholder="type" name="type">
            <input type="text" placeholder="condition" name="condition">
            <input type="number" placeholder="price" name="price">
            <input type="text" placeholder="size" name="size">
            <input type="number" placeholder="volume" name="volume">
            <input type="text" placeholder="finType" name="finType">
            <input type="text" placeholder="finBox" name="finBox">
            <input type="text" placeholder="description" name="desc">
            <button type="submit">submit</button>
        </form>
    </section>
    <ul class="surfboards">
        <!-- Loop through surfboards -->
        <% for(var i=0; i < surfboards.length; i++) {%>
            <li class="surfboard">
                <span>
                    <%= surfboards[i].brand %>
                </span>
                <span>
                    <%= surfboards[i].model %>
                </span>
                <ul>
                    <li>
                        <%= surfboards[i].size %>
                    </li>
                    <li>
                        volume : <%= surfboards[i].volume %>
                    </li>
                    <li>
                        type : <%= surfboards[i].type %>
                    </li>
                    <li>
                        condition : <%= surfboards[i].condition %>
                    </li>
                    <li>
                        price : <%= surfboards[i].price %>
                    </li>
                    <li>
                        fins : <%= surfboards[i].finBox %>
                            <%= surfboards[i].finType %>
                    </li>
                    <li>
                        description : <%= surfboards[i].desc %>
                    </li>   
                </ul>
                <button class="delete">
                    Delete
                </button>
            </li>
            <% } %>
    </ul>
    <script src="/js/main.js"></script>
</body>

</html>